.card {
  border-top: 1px solid #e5e5e5;
}

.card__wrapper {
  padding-top: 22px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 21px;
}

.card__image {
  display: block;
  margin: auto;
}

.card__desc {
  width: 280px;
  margin: auto;
}

.card__caption {
  display: block;
  padding-top: 20px;
  text-align: left;
  font-size: 14px;
  line-height: 24px;
}

.card__copyright {
  display: block;
  padding-top: 6px;
  text-align: left;
  text-transform: none;
  font-size: 14px;
  line-height: 24px;
}

.card__likes {
  padding-top: 10px;
  padding-left: 37px;
  text-align: left;
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  position: relative;
}

.card__likes::before {
  content: "";
  display: inline-block;
  width: 22px;
  height: 20px;
  vertical-align: top;
  background-image: url("../img/icon-like.svg");
  position: absolute;
  top: 10px;
  left: 0;
}

@media (min-width: @tablet-width) {
  .card {
    width: 50%;
    border: 0;
  }

  .card__wrapper {
    padding: 0;
  }

  .card__image {
    width: 100%;
  }

  .card__desc {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    padding-left: 20px;
    box-sizing: border-box;
    background: #f2f2f2;
  }

  .card__likes {
    padding-left: 32px;
    padding-top: 28px;
    margin-right: 21px;
  }

  .card__likes::before {
    top: 28px;
    background-image: url("../img/icon-like-tablet.svg");
  }

  .card:first-child {
    width: 100%;
  }

  .card__copyright {
    width: 100%;
    order: 2;
    padding: 0;
    padding-bottom: 10px;
  }
}

@media (min-width: @desktop-width) {
  .card {
    width: 400px;
  }

  .card__wrapper {
    position: relative;
  }

  .card__desc {
    color: #ffffff;
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    bottom: 0;
  }

  .card__likes::before {
    background-image: url("../img/icon-like-desktop.svg");
  }
}
