.copyright__text {
  font-size: 14px;
  line-height: 26px;
}

.copyright__link {
  position: relative;
}

.copyright__link::before {
  content: "";
  position: absolute;
  width: 46px;
  height: 48px;
  margin-left: 11px;
  background-repeat: no-repeat;
  background-image: url("../img/logo-htmlacademy.svg");
}
