.copyright__text {
  font-size: 14px;
  line-height: 26px;
  margin-top: 5px;
  margin-right: 10px;
}

.copyright__link {
  display: block;
}

.copyright__icon {
  &:hover {
    fill: @color-blue;
  }

  &:active {
    fill: #b2b2b2;
  }
}
