.find-hotel {
  padding-top: 30px;
  padding-bottom: 49px;
}

.find-hotel__header {
  margin: 0;
  font-size: 21px;
  line-height: 26px;
}

.find-hotel__desc {
  margin: 0 20px;
  margin-top: 24px;
  margin-bottom: 38px;
  font-size: 14px;
  line-height: 24px;
  color: #333333;
}

.find-hotel__button {
  &:hover {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;
    color: rgba(256, 256, 256, 0.3);
  }

  &--disabled {
    background-color: #e5e5e5;

    &:hover {
      background-color: #e5e5e5;
    }

    &:active {
      background-color: #e5e5e5;
      color: #ffffff;
    }
  }
}

@media (max-width: @mobile-width-only) {
  .find-hotel__desc br {
    display: none;
  }
}

@media (min-width: @tablet-width) {
  .find-hotel__button {
    width: 460px;
  }
}

@media (min-width: @desktop-width) {
  .find-hotel__header {
    font-size: 30px;
    line-height: 26px;
  }
}
