.review__section {
  border: 0;
  border-top: 1px #e5e5e5 solid;
  margin: 0;
  padding-top: 22px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
}

.review__section--contact {
  padding-bottom: 10px;
}

.review__section--impression {
  padding-bottom: 27px;
}

.review__header {
  margin: 0;
  margin-bottom: 23px;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
}

.review__header--contact {
  margin-bottom: 28px;
}

.review__header--impression {
  margin-bottom: 26px;
}

.review__header--sites {
  margin-bottom: 20px;
}

.review__header--emotions {
  margin-bottom: 20px;
}

.review__section p {
  display: flex;
  margin-top: 20px;
  margin-bottom: 0;
}

.review__section--contact p {
  margin-top: 12px;
  margin-bottom: 18px;
}

.review__section--impression p {
  margin-top: 12px;
}

.review__label {
  align-self: center;
  font-size: 14px;
  line-height: 26px;
  color: #333333;
}

.review__label--contact {
  display: block;
  margin-left: 22px;
  text-align: left;
}

.review__label--impression {
  margin-left: 25px;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-transform: none;
}

.review__label--sites {
  margin-left: 25px;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-transform: none;
}

.review__input {
  width: 100%;
  margin-left: 14px;
  padding: 20px 21px;
  background: #f2f2f2;
  border: 0;
}

.review__input--contact {
  margin: 0;
}

.review__input::placeholder {
  color: #000000;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
}

.review__image-wrap {
  display: block;
  background: #e6e6e6;
  width: 58px;
  height: 58px;
}

.review__image {
  display: block;
  padding: 19px;
}

.review__radio-block input {
  width: 55px;
}

.review__checkbox-block input {
  width: 55px;
}

.review__textarea {
  width: 100%;
  height: 160px;
  padding: 20px;
  box-sizing: border-box;
  background: #f2f2f2;
  border: 0;
}

.review__textarea::placeholder {
  color: #000000;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
}

.review__notice {
  display: none;
  font-size: 14px;
  line-height: 26px;
  color: #333333;
}

@media (min-width: @tablet-width) {
  .review {
    display: flex;
    flex-wrap: wrap;
    padding: 0 60px;
  }

  .review__section {
    width: 50%;
    box-sizing: border-box;
    border: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .review__section--impression {
    order: -1;
  }

  .review__section--contact {
    width: 100%;
  }

  .review__section--sites {
    width: 100%;
    padding-left: 94px;
    padding-right: 94px;
  }

  .review__section--emotions {
    width: 100%;
  }

  .review__checkbox-block {
    display: flex;
    flex-wrap: wrap;
  }

  .review__button {
    width: 324px;
    margin-left: 0;
  }

  .review__notice {
    display: block;
  }
}

@media (min-width: @desktop-width) {
  .review__header {
    font-size: 21px;
  }

  .review__label-word {
    display: none;
  }

  .review__contact-block {
    display: flex;
  }

  .review__label--contact {
    margin-right: 18px;
  }

  .review__label--email {
    margin-left: auto;
  }

  .review__section--sites {
    padding: 0;
  }

  .review__checkbox-block {
    justify-content: space-between;
  }

  .review__button {
    width: 480px;
  }
}
